/* Colors */
:root {
    --headerBG: #1F2937;
    --button: #3882F6;
    --quoteBG: #E5E7EB;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    h1,
    h2,
    h3,
    h4 {
        font-family: 'Suez One', serif;
    }

    p,
    a {
        font-family: 'Montserrat', serif;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    min-width: 375px;
    height: 100vh;
    margin: 0 10rem;
}

.headMain-container {
    background-color: var(--headerBG);
    padding: 1rem 5rem 5rem 5rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boton {
    a {
        text-decoration: none;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background-color: var(--button);
        color: white;
    }
}

.nav-container {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
    }

    a {
        text-decoration: none;
        margin: 0 2rem;
        color: white;
        font-size: 1.2rem;
    }
}

main {
    display: flex;
    padding-top: 5rem;
    color: white;

    img {
        margin-left: 3rem;
    }

    h1 {
        font-size: 4.8rem;
        margin: 0;
        padding: 0;
    }

    p {
        font-size: 1.8rem;
        margin: 0;
        padding-bottom: 2rem;
    }


}

section {
    h1 {
        text-align: center;
        margin-top: 2rem;
        font-size: 3.8rem;
    }

    .cards-container {
        display: flex;
        padding: 1em 9rem;

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3rem;

            p {
                text-align: center;
            }

            img {
                border-radius: 1rem;
            }
        }
    }

}

.testimonial-container {
    display: flex;
    flex-direction: column;
    padding: 10rem;
    background-color: var(--quoteBG);

    .testimonial-txt {
        font-size: 3.6rem;
    }

    .testimonial-autor {
        text-align: end;
    }
}

.add-container {
    padding: 6rem 10rem;
}

.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    background-color: var(--button);
    border-radius: 1rem;

    h4,
    p {
        color: white;
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }

    h4 {
        margin-bottom: .5rem;
        font-size: 1.5rem;
    }

    .boton {
        a {
            border-style: solid;
            border-color: white;
        }
    }
}

footer {
    background-color: var(--headerBG);
    padding: 2rem;
    color: white;
    text-align: center;
}